.content-wrapper{
  width:95%;
  margin:0 auto;
  max-width:1200px;
}

body{
  font-family: 'Open Sans', sans-serif;
  overflow-x:hidden;
  position:relative;
  margin:0;
}

html{
  font-size:10px;
}

*{
  box-sizing: border-box;
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: 'Geometria Medium';
  src: url('./public/fonts/Geometria-Medium.eot');
  src: url('./public/fonts/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('./public/fonts/Geometria-Medium.woff') format('woff'),
  url('./public/fonts/Geometria-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.slick-active {
  outline: none;
}
.slick-slide:focus {
  outline: none;
}
.slide{
  outline:none;
  border:1px solid red;
  
}
/* font-family: 'Geometria Medium'; */
