@media screen and (max-width:1280px){
  .calculator__choise{
    width:100%;
  }
}

@media screen and (max-width:1200px){
  .header__vertical__shape{
    display:none;
  }

  .header .logo{
    flex-grow:1;
  }

  .header__phone, .header .call-btn, .cart-icon{
    margin-right:3rem;
  }

  .burger{
    display:block;
  }

  .header{
    margin-bottom:3.5rem;
  }

  .header:before{
    display:block;
  }
}

@media screen and (max-width:1100px){
  .content-block{
    flex-direction: column;
  }
  .content-left:not(.visible-content){
    display:none;
  }
  .content-right{
    width:100%;
  }
  .aside-nav__inner{
    display:flex;
    margin-bottom:2rem;
  }
  .visible-content{
    width:100%;
  }
}

@media screen and (max-width:900px){
  .footer__contacts:after{
    display:none;
  }
  .footer .logo-svg{
    display:none;
  }
  .aside-nav__inner{
    flex-wrap:wrap;
  }
  .horizontal-shape{
    margin:3rem 0;
  }
}



@media screen and (max-width:700px){
  .cart-main .cart-item:first-child{
    border-top:none;
  }
}

@media screen and (max-width:600px){
  .catalog .good:nth-child(2n){
    margin-right:0;
  }
  .catalog .good:nth-child(3n){
    margin-right:1.5%;
  }
}
